FLASK_DEBUG=True
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=8080

# =========================
# Flask Database Connection
# =========================
# app.py uses these to log into the database created above.
# DB_PASS and DB_NAME should match the POSTGRES_ values above.
DB_HOST=db
DB_USER=root
DB_PASS=your_local_password
DB_NAME=driftdater_db

SECRET_KEY=insert_a_secure_secret_key_here_for_development_purposes_only_replace_with_a_strong_key_in_production
# =========================
# Authentication (JWT)
# =========================
# This key is used to sign your tokens. In your actual .env, make this a long, random string.
JWT_SECRET_KEY=your_super_secret_jwt_key_here

UPLOAD_FOLDER=./uploads
